! URxvt
! special
*.foreground:   #c0c5ce
*.background:   #2b303b
*.cursorColor:  #c0c5ce

! black
*.color0:       #2b303b
*.color8:       #65737e

! red
*.color1:       #bf616a
*.color9:       #bf616a

! green
*.color2:       #a3be8c
*.color10:      #a3be8c

! yellow
*.color3:       #ebcb8b
*.color11:      #ebcb8b

! blue
*.color4:       #8fa1b3
*.color12:      #8fa1b3

! magenta
*.color5:       #b48ead
*.color13:      #b48ead

! cyan
*.color6:       #96b5b4
*.color14:      #96b5b4

! white
*.color7:       #c0c5ce
*.color15:      #eff1f5

URxvt.scrollBar: false
URxvt.font: xft:Iosevka:size=10
URxvt.letterSpace: -1

! Rofi
rofi.color-enabled: true
!rofi.color-window:  #2b303b, #2b303b, #3c4252
!rofi.color-normal:  #2b303b, #c0c5ce, #2b303b, #3c4252, #c0c5ce
!rofi.color-active:  #2b303b, #8fa1b3, #2b303b, #3c4252, #8fa1b3
!rofi.color-urgent:  #2b303b, #b48ead, #2b303b, #3c4252, #b48ead
rofi.color-window: argb:e92b303b, #2b303b, #000000
rofi.color-normal: argb:2000000, #a3be8c, argb:2000000, argb:3000000, #eee8d5
rofi.color-active: argb:2000000, #268bd2, argb:2000000, argb:3000000, #fdf6e3
rofi.color-urgent: argb:2000000, #dc322f, argb:2000000, argb:3000000, #fdf6e3
rofi.font:          Iosevka 12
rofi.fullscreen:    true
!rofi.opacity:       85%
